* {
  padding: 0;
  margin: 0;
  border: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}
#container {
  display: flex;
  position: relative;

  background-image: var(--img);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: var(--filter);

  border: calc(var(--border) * var(--scale)) solid var(--clockBC);
  border-radius: 100%;

  width: calc(var(--diam) * var(--scale));
  height: calc(var(--diam) * var(--scale));
}
.hour {
  position: absolute;
  top: calc( var(--calc1) - (var(--hourH) * var(--scale) / 2) - (var(--hourBW) * var(--scale)) );
  left: calc( var(--calc1) - (var(--hourW) * var(--scale) / 2) - (var(--hourBW) * var(--scale))  );

  background: var(--hourC);
  border: calc(var(--hourBW) * var(--scale)) solid var(--hourBC);

  width: calc(var(--hourW) * var(--scale));
  height: calc(var(--hourH) * var(--scale));

  transform-origin: center;
}


.secHand, .minHand, .hourHand {
  position: absolute;
  transform-origin: bottom center;
}
.secHand {
  left: calc(var(--calc1) - (var(--handW-1)  * var(--scale) / 2) - (var(--handBW-1) * var(--scale)) );
  top:  calc( var(--calc1) - (var(--handH2-1) * var(--scale)) - (var(--handBW-1) * var(--scale) * 2) - (var(--handH1-1) * var(--scale)) );

  transform: translateY( calc((var(--handH1-1) * var(--scale)) + (var(--handBW-1) * var(--scale)) ));

  background: var(--handC-1);

  border: calc(var(--handBW-1) * var(--scale)) solid var(--handBC-1);
  border-radius: var(--handBR-1);

  width: calc(var(--handW-1) * var(--scale));
  height: calc((var(--handH2-1) * var(--scale)) + (var(--handH1-1) * var(--scale)));

  z-index: var(--layer-1); 
}
.minHand {
  left: calc(var(--calc1) - (var(--handW-2)  * var(--scale) / 2) - (var(--handBW-2) * var(--scale)) );
  top:  calc( var(--calc1) - (var(--handH2-2) * var(--scale)) - (var(--handBW-1) * var(--scale) * 2) - (var(--handH1-2) * var(--scale)) );

  transform: translateY( calc((var(--handH1-1) * var(--scale)) + (var(--handBW-1) * var(--scale)) ));

  background: var(--handC-2);

  border: calc(var(--handBW-2) * var(--scale)) solid var(--handBC-2);
  border-radius: var(--handBR-2);

  width: calc(var(--handW-2) * var(--scale));
  height: calc((var(--handH2-2) * var(--scale)) + (var(--handH1-2) * var(--scale)));

  z-index: var(--layer-2); 
}
.hourHand {
  left: calc(var(--calc1) - (var(--handW-3)  * var(--scale) / 2) - (var(--handBW-3) * var(--scale)) );
  top:  calc( var(--calc1) - (var(--handH2-3) * var(--scale)) - (var(--handBW-1) * var(--scale) * 2) - (var(--handH1-3) * var(--scale)) );

  transform: translateY( calc((var(--handH1-1) * var(--scale)) + (var(--handBW-1) * var(--scale)) ));

  background: var(--handC-3);

  border: calc(var(--handBW-3) * var(--scale)) solid var(--handBC-3);
  border-radius: var(--handBR-3);

  width: calc(var(--handW-3) * var(--scale));
  height: calc((var(--handH2-3) * var(--scale)) + (var(--handH1-3) * var(--scale)));

  z-index: var(--layer-3); 
}
