:root {
  /* CLOCK */
    /* Dimensions */
    --diam: 100px; /* Diameter Of Clock */
    --border: 10px; /* Border Width */
    --scale: 3;

    /* Image */
    --img: url(https://via.placeholder.com/300.png);
    --filter: opacity(100%);

    /* Color */
    --clockBC: #9bb669; /* Border Color */


  /* HOUR */
    /* Dimensions*/
    --hourW: 3px; /* Width */
    --hourH: 6px; /* Length */
    --hourBW: 0.5px; /* Border Width */

    /* Color */
    --hourC: black; /* Color */
    --hourBC: white; /* Border Color*/

    /* Offset */
    --hourOffset: 0px; /* Offset Away From Center */


  /* Second Hand */
    /* Dimensions */
    --handW-1: 1px; /* Width */
    --handH1-1: 5px; /* Tail Of Pointer */
    --handH2-1: 48px; /* Tip Of Pointer */
    --handBW-1: 0.1px; /* Border Width */

    /* Color */
    --handC-1: #FFF9; /* Color */
    --handBC-1: #0009; /* Border Color */

    /* Radius */
    --handBR-1: 100px;

    /* Layer */
    --layer-1: 3; /* 0 = Under Hour, 1+ = Above Hour*/


  /* Minute Hand*/
    /* Dimensions */
    --handW-2: 4px; /* Width */
    --handH1-2: 1px; /* Tail Of Pointer */
    --handH2-2: 40px; /* Tip Of Pointer */
    --handBW-2: 0.1px; /* Border Width */

    /* Color */
    --handC-2: #FFF9; /* Color */
    --handBC-2: #0009; /* Border Color */

    /* Radius */
    --handBR-2: 300% 300% 100px 100px / 300% 300% 100px 100px;

    /* Layer */
    --layer-2: 2; /* 0 = Under Hour, 1+ = Above Hour*/


  /* Hour Hand*/
    /* Dimensions */
    --handW-3: 5px; /* Width */
    --handH1-3: 1px; /* Tail Of Pointer */
    --handH2-3: 30px; /* Tip Of Pointer */
    --handBW-3: 0.1px; /* Border Width */

    /* Color */
    --handC-3: #FFF9; /* Color */
    --handBC-3: #0009; /* Border Color */

    /* Radius */
    --handBR-3: 100px;

    /* Layer */
    --layer-3: 1; /* 0 = Under Hour, 1+ = Above Hour*/

  /* Other */
  --calc1: (var(--diam) * var(--scale) / 2);
}
